/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.df {
    display: flex;
}

.opener_wrpr {
    display: flex;
    width: 312px;
    height: 40px;
    position: relative;
}

.opener_wrpr:before {
    content: "";
    display: block;
    height: 56%;
    width: 1px;
    background: #bdbdbd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dp_inpt {
    height: 40px;
    width: 50%;
    padding: 0px 20px;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    border-radius: 22px;
    outline: none;
    transition: all 0.2s;
    text-align: center;
}

.dp_inpt:nth-child(1) {
    border-right-width: 0px;
    border-radius: 22px 0px 0px 22px;
}


.dp_inpt:nth-last-child(1) {
    border-left-width: 0px;
    border-radius: 0px 22px 22px 0px;
}


.dp_inpt.open:nth-child(1) {
    border-radius: 6px 0px 0px 6px;
}


.dp_inpt.open:nth-last-child(1) {
    border-radius: 0px 6px 6px 0px;
}


.adr-picker-wrpr {
    display: inline-block;
    margin: 100px auto;
    padding: 8px 12px;
    border: 1px solid #EEEEEE;
}

.datepicker_wrpr {
    overflow: hidden;
    
}

.calendar_wrpr {
    margin: 0px 5px;
    width: 280px;
}

.calendar_wrpr.invisible:nth-child(1) {
    margin-left: -285px;
    transition: all 2s;
}

.calendar_wrpr.invisible:nth-last-child(1) {
    margin-right: -285px;
}

.invisible {
    opacity: 0.3;
}

.cal_mnth_hdr {
    height: 38px;
    line-height: 38px;
    position: relative;
    padding: 0px 36px;
    margin-bottom: 3px;
}

.cal_mnth_hdr .np_btn {
    position: absolute;
    width: 36px;
    top: 0px;
    height: 100%;
    border-radius: 3px;
    transition: all 0.1s;
}

.cal_mnth_hdr .np_btn:hover {
    background: #f7f7f7;
    color: #545454;
}

.cal_mnth_hdr .np_btn:hover:after {
    border-color:transparent transparent #545454 #545454;
}

.hdr_mnth {
    width: 100%;
    text-align: center;
    font-family: "segoe ui";
    font-size: 15px;
    color: #8c8c8c;
}

.cal_mnth_hdr .np_btn:after {
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    border: 1px solid transparent;
    border-color: transparent transparent #8c8c8c #8c8c8c;
    transform: translate(0%, -50%) rotate(45deg);
    top: 50%;
    left: 14px;
    position: relative;
}

.cal_mnth_hdr .np_btn.nxt {
    margin-left: auto;
    right: 0;
    transform: rotate(180deg);
}

.cal_mnth_hdr .np_btn.prev {
     left: 0px;
}

.week_wrpr {
    display: flex;
    margin-bottom: 3px;
    font-family: "Avenir LT Std";
    font-size: 12px;
    color: rgb(109, 109, 109);
}

.day_wrpr {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.day_wrpr:hover {
    background: rgba(0, 105, 156, 0.06);
}

/* .day_wrpr.selected {
    background: rgba(2, 92, 136, 0.8);
    color: #fff;
    border-radius: 3px;
} */


.day_wrpr.start {
    background: rgb(2, 136, 209);
    color: #fff;
    border-radius: 50% 0px 0px 50%;
}

.day_wrpr.end {
    background: #0288D1;
    color: #fff;
    border-radius: 0px 50% 50% 0px;
}
.day_wrpr.end.start {
    border-radius: 50%;
}

.day_wrpr.in-range:not(.start):not(.end) {
    background: #f6f6f6;
}

.day_wrpr.in-selected-range:not(.start):not(.end) {
    background: #f1f8fe;
}

.ftr {
    display: flex;
    height: 30px;
    line-height: 30px;
    font-family: segoe ui;
    font-weight: bold;
    font-size: 13px;
    color: #757575;
}

.ftr p {
  flex-grow: 0;
  flex-shrink: 0;
}

.ftr p:nth-child(1) {   
    width: calc(50% - 9px);
    text-align: right;
}

.ftr p:nth-child(2) {   
    width: 18px;
    text-align: center;
}

.ftr p:nth-last-child(1) {   
    width: calc(50% - 9px);
    text-align: left;
}

